<div class="gallery">
{% for file in site.static_files %}
  {% if file.path contains include.folder %}
    {% if file.extname == '.jpg' or 
      file.extname == '.jpeg' or 
      file.extname == '.JPG' or 
      file.extname == '.JPEG' or 
      file.extname == '.png' or 
      file.extname == '.PNG' %}

      {% assign filenameparts = file.path | split: "/" %}
      {% assign filename = filenameparts | last | replace: file.extname,"" %}
      <figure>
        <img class="thumbnail" src="{{ file.path }}" alt="{{ filename }}" />
        <figcaption><strong>{{ filename }}</strong></figcaption>
      </figure>
    {% endif %}
  {% endif %}
{% endfor %}
</div>