.page-content {
    padding: 87px 0 45px 0; /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
}
.page-heading {
    font-size: 20px;
}
.contacticon {
    display: block;
    font-size: 50px;
    margin: 10px;
}
.contacticon table {
    width: auto;
    margin-left:auto; 
    margin-right:auto;
}
.socialicon > *, .socialicon > a > * {
    vertical-align: middle;
}
.contacticon table, .contacticon tr, .contacticon td {
    border: none;
}
.center{
    text-align: center;
}
