.project {
    box-sizing: border-box;
    display: inline-block;
    height: 250px;
    padding: 10px;
    vertical-align: middle;
    width: 250px;

    .thumbnail {
        overflow: hidden;
        height: 100%;
        width: 100%;

        img {
            height: 100%;
            width: auto;
            position: relative;
            left: -10%;
        }

        a {
            float: left;
            height: 230px;
            position: relative;
            width: 100%;

            div {
                height: 210px;
                width: 210px;
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(0,0,0,0.4);
                color: $grey-color-light;
                padding: 10px;
                text-align: center;

                span {
                    vertical-align:middle;
                    display: table-cell;

                    h1 {
                        font-size: 1.5rem;
                        margin: 0;
                    }

                    p {
                        color: $grey-color-light;
                        margin: 0;
                    }
                }
            }

            &:hover {
                div {
                    display: table;
                }
            }
        }
    }
}
