---
---
<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
<script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
{% if entry.abbr %}
  {% if site.data.venues[entry.abbr] %}
    <abbr>[<a href="{{site.data.venues[entry.abbr].url}}" target="_blank">{{entry.abbr}}</a>]</abbr>
  {% else %}
    <abbr>[{{entry.abbr}}]</abbr>
  {% endif %}
{% endif %}

<div id="{{entry.key}}">
  <table>
    <tr>
      <td>
        {% if entry.type == "thesis" %}
          {{reference}}
        {% else %}
          <span class="title"><strong>{{entry.title}}</strong></span>
          <span class="author">
            {% for author in entry.author_array %}
              {% if forloop.length == 1 %}
                {% if author.last == site.scholar.last_name %}
                  <em><strong>{{author.last}}, {{author.first}}</strong></em>
                {% else %}
                  {{author.last}}, {{author.first}}
                {% endif %}
              {% else %}
                {% unless forloop.last %}
                  {% if author.last == site.scholar.last_name %}
                    <em><strong>{{author.last}}, {{author.first}}</strong></em>,
                  {% else %}
                    {% if site.data.coauthors[author.last] %}
                      <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.last}}, {{author.first}}</a>, 
                    {% else %}
                      {{author.last}}, {{author.first}},
                    {% endif %}
                  {% endif %}
                {% else %}
                  {% if author.last == site.scholar.last_name %}
                    and <em>{{author.last}}, {{author.first}}</em>
                  {% else %}
                    {% if site.data.coauthors[author.last] %}
                      and <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.last}}, {{author.first}}</a> 
                    {% else %}
                      and {{author.last}}, {{author.first}}
                    {% endif %}
                  {% endif %}
                {% endunless %}
              {% endif %}
            {% endfor %}
          </span>
        
          <span class="periodical">
          {% if entry.type == "article" %}
            <em>{{entry.journal}}</em>{% if entry.volume %}, {{ entry.volume }}{% if entry.number %}({{ entry.number }}){% endif %}{% if entry.pages %}, {{ entry.pages }}{% endif %}{% endif %}
          {% elsif entry.type == "inproceedings" %}
            <em>In {{entry.booktitle}}</em>
          {% endif %}
          <!--
          {% if entry.year %}
            {{entry.year}}
          {% endif %}
          -->
          </span>
        {% endif %}
        
        <span class="links">
        {% if entry.abstract %}
          [<a class="abstract">Abs</a>]
        {% endif %}
        {% if entry.press %}
          [<a href="{{ entry.press }}" target="_blank">Press Release</a>]
        {% endif %}
        {% if entry.blog %}
          [<a href="{{ entry.blog }}" target="_blank">Blog</a>]
        {% endif %}
        {% if entry.arxiv %}
          [<a href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank">arXiv</a>]
        {% endif %}
        {% if entry.html %}
          [<a href="{{ entry.html }}" target="_blank">HTML</a>]
        {% endif %}
        {% if entry.pdf %}
          [<a href="{{ entry.pdf | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">PDF</a>]
        {% endif %}
        {% if entry.supp %}
          [<a href="{{ entry.supp | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Supp</a>]
        {% endif %}
        {% if entry.poster %}
          [<a href="{{ entry.poster | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Poster</a>]
        {% endif %}
        {% if entry.slides %}
          [<a href="{{ entry.slides | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Slides</a>]
        {% endif %}
        {% if entry.code %}
          [<a href="{{ entry.code }}" target="_blank">Code</a>]
        {% endif %}
        </span>
      </td>
      <td class="altmetric">
        {% if entry.doi %}
        <div data-badge-popover="left" data-badge-type="donut" data-doi="{{ entry.doi }}" data-hide-no-mentions="true" data-hide-less-than="20" class="altmetric-embed"></div>
        <span class="__dimensions_badge_embed__" data-doi="{{ entry.doi }}" data-hide-zero-citations="true" data-style="small_rectangle"></span>
        {% endif %}
      </td>
    </tr>
    <!-- Hidden abstract block -->
    {% if entry.abstract %}
    <tr>
      <td colspan="2">
        <span class="abstract hidden">
          <p>{{ entry.abstract }}</p>
        </span>
      </td>
    </tr>
    {% endif %}
  </table>
</div>
