---
layout: page
header: false
---
<p><a href="/gallery">&#8592;Back to full gallery</a></p>
<br />
<div class="noborder gallery-wrapper">
    <table>
        {% for image in page.images %}
            {% assign loopindex = forloop.index | modulo: 2 %}
            {% if loopindex == 1 %}
            <tr>
            {% endif %}
            <td width="50%">
                <img class="gallery-image hover-shadow" src="thumbs/{{ image.name }}" onclick="openModal();currentSlide({{ forloop.index }})"/>
            </td>
            {% if loopindex == 0  or forloop.last %}
            </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>

<!-- The Modal/Lightbox -->
<div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">
        {% for image in page.images %}
            <div class="mySlides">
                <div class="numbertext">{{ forloop.index }} / {{ page.images | size }}</div>
                <img src="{{ image.name }}">
            </div>
        {% endfor %}

        <!-- Next/previous controls -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <!-- Caption text -->
        <div class="caption-container">
            <p id="caption"></p>
        </div>

        <!-- Thumbnail image controls -->
        <!--
        {% for image in page.images %}
            <div class="column">
                <img class="demo" src="thumbs/{{ image.name }}" onclick="currentSlide({{ forloop.index }})" alt="{{ image.name }}">
            </div>
        {% endfor %}
        -->
    </div>
</div>

<script>
// from https://www.w3schools.com/howto/howto_js_lightbox.asp
// Open the Modal
function openModal() {
  document.getElementById("myModal").style.display = "block";
}

// Close the Modal
function closeModal() {
  document.getElementById("myModal").style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slides[slideIndex-1].style.display = "block";
}
</script>