---
layout: page
---
<p><a href="/research">&#8592;Back to research projects</a></p>
{{ content }}
<center>
<img class="rounded" width="67%" src="{{ page.img | prepend: site.baseurl | prepend: site.url }}"/>
</center>
